@import "_var.scss";
@import "_mixins.scss";
@import "blocks/_button.scss";

/* main */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    height: 100%;
  }
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-align: center;
    list-style-type: none;
    background: #FFFFFF;
    /*Убрать коммент, чтобы фон не тянулся*/
    /*Не совсем понимаю задумку дизайнера...*/
    /* 
    max-width: 1600px;
    margin: 0 auto;
    */
  }
  .wrap {
    width: 1140px;
    margin: 0 auto;
    /*outline: 1px solid red;*/
  }
  .hidden {
      width: 1px;
      height: 1px;
      position: absolute;
      left: -999999px;
      margin: -1px;
  }
  /* main */
/* to test */
 .totest {
  background-color: rgb(155, 228, 173);
}
.totest-wrap {
  display: flex;
  justify-content: space-between;
  min-height: 45px;
  background: #a89cf7;
  font-size: 50px;
}
.totest-link {
 text-decoration: none;
}
/* to test */

  /* header */
.header {
  background: #222222;
  &-wrap {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    background: #222222;
  }
  &-logo {
    display: flex;
    align-items: center;
    &-img {
      margin-right: 41px;
    }
    &-button {
      display: inline-flex;
      background-color: transparent;
      border: none;
      fill: #E8E8E8;
       &:hover {
         fill: $main-color;
       }
    }
  }
  &-account {
    display: flex;
    align-items: center;
    margin-right: 10px;
    &-table {
      display: flex;
      align-items: center;
    }
    &-list {
      display: inline-flex;
      &-img {
        margin: 0 33px;
      }
      &-cart {
        position: relative;
        &-number {
          position: absolute;
          left: 20px;
          bottom: 17px;
          color: #FFFFFF;
          border-radius: 50%;
          background-color: $main-color;
          width: 19px;
          height: 19px;
        }
      }
    }
  }
}
  /*.header-wrap {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    background: #222222;
  }*/
 /* .logo, .account{
    display: flex;
    align-items: center;
  }*/
  /*.header-logo {
    margin-right: 41px;
  }*/
  /*.account-list {
      display: inline-flex;
  }*/
 /* .account-list-button {
    background-color: transparent;
    border: none;
  }*/
  /*.account-list-button {
    fill: #E8E8E8;
    &:hover {
      fill: $main-color;
    }
  }*/
 /*  .account-img {
    margin: 0 33px;
  } */
 /*  .cart-div {
    position: relative;
    margin-right: 10px;
    display: inline-flex;
  } */
  /* .cart-div-img {
    position: absolute;
    left: 20px;
    bottom: 17px;
    color: #FFFFFF;
    border-radius: 50%;
    background-color: $main-color;
    width: 19px;
    height: 19px;
  } */
  /* header */
  
  /* promo */
  .promo {
   /* background: linear-gradient(to right, rgba(113, 103, 105, 0.08) 50%, #F1E4E6 50%); */
  background-color: #F1E4E6;
  min-width: 1140px;
  }
  .promo-wrap {
    display: flex;
    align-items: center;
    background-image:url(../img/promo-man.png) ;
    background-repeat: no-repeat;
    background-position: -225px bottom;
    min-height: 764px;
    justify-content: flex-end;
    text-align: left;
    /*background: linear-gradient(to right, rgba(113, 103, 105, 0.08) 50%, #F1E4E6 50%);*/
  }
  .promo-title{
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 100px;
  }

  .promo-title-small{
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
  }
  .promo-title-pink{
    color: #F16D7F;
  }
  /* promo */
  .main {
    flex-grow: 1;
  }
  /* categories */
  .categories {}
  .сategories-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 96px;
    gap: 30px;
    list-style-type: none;
  }
  .categories-card {
    background-color: #C4C4C4;
    height: 260px;
    width: 360px;   
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .categories-card:nth-child(1){
    background-image: url(../img/cat-for-w.jpg);
  }
  .categories-card:nth-child(2){
    background-image: url(../img/cat-for-m.jpg);
  }
  .categories-card:nth-child(3){
    background-image: url(../img/cat-for-k.jpg);
  }
  .categories-card:last-child {
    width: 100%;
    height: 180px;
    background-image: url(../img/cat-acc.jpg);
  }
  .categories-desc {
    text-decoration: none;  
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .categories-name {
      width: 100%;
      margin: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      color: #F16D7F;
  }
  .categories-name::first-line {
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
  }
  /* categories */
  
  /* products */
  .products {}
  .products-wrap {
    /*margin-top: 64px;*/
  }
  .products-heading {
    color: #222222;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 6px;
  }
  .products-desc {
    color: #9F9F9F;
    font-size: 14px;
    margin-bottom: 48px;
  }
  .products-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
  .products-catalog-card {
    max-width: 360px;
    text-align: left;
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .product-catalog-desc-wrap {
      padding: 18px;
  }
  .products-card-heading {
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    max-height: 16px;
    overflow: hidden;
  }
  .products-card-desc {
    font-size: 14px;
    font-weight: 300;
    margin: 12px 0 18px 0;
    color: #5D5D5D; 
    overflow: hidden;
    max-height: 50.4px;
  }
  .products-card-price {
    color: #F16D7F;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    max-height: 18.4px;
    overflow: hidden;
  }
  .products-catalog-button {
    text-decoration: none;
    padding: 14.5px 35.5px;
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    margin-bottom: 95.5px;
    margin-top: 48px;
    width: 211px;
  }
  .products-catalog-button:hover {
      color: #FFFFFF;
      background-color: #FF6A6A;
  }
  /* products */
  
  /* advantages */
  .advantages {
    background: #222224;
    color: #FBFBFB;
    font-size: 19.96px;
    line-height: 24px;
  }
  .advantages-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 341px;
    background: #222224;
    padding: 103px 0;
  }
  .advantages-card{
    max-width: 360px;
  }
  .advantages-heading {
    margin-top: 28px;
    margin-bottom: 16px;
    font-weight: 400;
  }
  .advantages-description {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
  }
  /* advantages */
  
  /* feedback */
  .feedback{
    background-image: url(../img/feedback-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*Весьма верояно это кривая заплатка*/
    min-width: 1140px;
    background-size: cover;
    /*Проблемы с масштабом, разрешением, уезжает bgi*/
  }
  .feedback-wrap {
    min-height: 448px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 97px 0;
  }
  .feedback-msg {
    max-width: 359.45px;
    color: #222224;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
  }
  .feedback-img {
    margin-bottom: 30px;
  }
  .feedback-subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 557px;
    padding: 0 30px;
  }
  .feedback-subscribe-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28.3px;
    margin-bottom: 32px;
  }
  .feedback-subscribe-title::first-line {
    font-weight: bold;
    font-size: 24px;
    max-width: 356px;
  }
  .feedback-form {
    display: flex;
  }
  .feedback-mail-form {
    border-radius: 24.5px 0 0 24.5px;
    padding: 7px 64px 6px 22px; 
    border: none;
    font-size: 14px;
    line-height: 17px;
    height: 49px;
    font-family: 'Lato';
    width: 256px;
    background: #E1E1E1;
  }
  .feedback-mail-form:focus {
    outline: none;
  }
  .feedback-button-sub {
    height: 49px;
    border-radius: 0 24.5px 24.5px 0;
    background: #F16D7F;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    width: 100px;
    font-family: 'Lato';
  }
  .feedback-button-sub:focus {
    outline: none;
  }
  /* feedback */
  
  /* Футер */
  .footer {
    background-color: #222224;
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
  }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    align-items: center;
    background: #222224;
    padding: 21px 0;
  }
  .social-networks {
    display: flex;
    list-style-type: none;
    gap: 7px;
  }

  .social-link {
    display: flex;
    height: 32px;
    width: 32px;
    color:#000000 ;
    background-color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }

  .social-link:hover {
      background-color: #F16D7F ;
      color: #FFFFFF;
  }

  
  /* Футер */
  
  /* Каталог */
  .catalog-headings-links{
    background-color: #F8F3F4;
  }
  .catalog-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
    background-color: #F8F3F4;
  }
  .catalog-heading{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: #F16D7F;
  }
  .catalog-links{
    list-style-type: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
  }
  .catalog-links-pos {
    display: inline;
  }
  .catalog-links-style{
    text-decoration: none;
    color: #636363;
  }
  /* Каталог */
  
  /* Каталог фильтр */
  .catalog-filter {}
  .catalog-filter-wrap {
    height: 132px;
    display: flex;
    align-items: center;
  }
  /*
  details summary::-webkit-details-marker {
    display: none
  }
  details summary {
    display: flex;
    position: relative;
    z-index: 20;
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    color: #6F6E6E;
  }
  */
  .catalog-cloth-filter {
    width: 360px;
    margin-right: 30px;
  }
  .catalog-filter-heading {
    font-weight: 600;
    font-size: 14px;
    line-height: 16.8px;
    color: #000000;
  }
  .catalog-filter-img {
    margin-left: 10px;
    margin-right: 28px;
  }
  
  /* Каталог фильтр */
  
  /* Каталог смена страницы */
  .products-catalog-pagination {
    border: 1px solid #EBEBEB;
    height: 43px;
    width: 282.91px;
    display: inline-flex;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 96px;
  }
  .products-catalog-pagination-arrow {
    padding: 12px 16px;
    height: 35.5px;
    border: none;
    background-color: #FFFFFF;
  }
  .products-catalog-page-number {
    width: 202.71px;
    display: flex;
    justify-content: space-between;
  }
  .products-catalog-page-link {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.2px;
    color: #EBEBEB;
  }
  .products-catalog-page-link-active {
    color: #EF5B70;
  }
  /* Каталог смена страницы */
  
  /* Страница товара */
  /* Слайдер */
  .product-slider {
    background-color: #F7F7F7;
    min-height: 777px;
    min-width: 1140px;
    display: flex;
    align-items: center;
  }
  .product-slider-wrap {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 1140px;
    align-items: center;
    background-color: #F7F7F7;
  }
  .product-slider-pagination {
    height: 47px;
    width: 47px;
    background-color: rgba(42, 42, 42, 0.15);
    display: flex;
    justify-content: center;
    flex-direction: column; 
  }
  .product-slider-pagination-right {
    
  }
  /* Слайдер */
  
  /* Описание товара */
  .product-description {
    margin-top: -60px;
    margin-bottom: 129px;
    position: relative;
    z-index: 2;
  }
  .product-description-wrap {
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .product-description-content {
    max-width: 641px;
    margin: 0 auto;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 65px;
  }
  .product-description-heading-sex {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    color: #F16D7F;
    margin-top: 64.54px;
  }
  .product-description-heading-deco-line {
    width: 63px;
    height: 3.03px;
    background-color: #EF5B70;
    display: inline-block;
  }
  .product-description-heading-name {
    font-weight: 300;
    font-size: 18px;
    line-height: 21.6px;
    color: #4D4D4D;
    margin-top: 9px;
    margin-bottom: 48.41px;
  }
  .product-description-heading-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    color: #5E5E5E;
    max-width: 555px;
    display: inline-block;
  }
  .product-description-heading-price {
    font-weight: 300;
    font-size: 24px;
    line-height: 28.8px;
    color: #EF5B70;
    margin-bottom: 65.04px;
    margin-top: 32.27px;
  }
  .product-description-filter {
    display: flex;
    margin-bottom: 48.91px;
  }
  
  /* Описание товара */
  
  /* Страница товара */
  
  /* Регистрация */
  .registration {
    margin-top: 31px;
    margin-bottom: 96px;
  }
  .registration-wrap {
    display: flex;
  }
  .registration-form {
    display: flex;
    flex-direction: column;
    max-width: 358.99px;
    text-align: left;
  }
  .registration-form-heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 33px;
  }
  .registration-form-input {
    padding-left: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .registration-radio {
    margin-top: 11px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13.2px;
    color: #000000;
  }
  .registration-radio-row {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
  }
  .registration-radio-style {
    height: 17px;
    width: 17px;
    margin-right: 10px;
  }
  .registration-form-description {
    font-weight: 300;
    font-size: 13px;
    line-height: 15.6px;
    color: #B1B1B1;
    margin-top: -5px;
    margin-bottom: 39px;
  }
  .registration-form-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #FFFFFF;
    background-color: #F16D7F;
    height: 50px;
    width: 167px;
    border-style: none;
  }
  .registration-description {
    max-width: 652px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
    margin-left: 128px;
  }
  .registration-description-heading {
    margin-top: 33px;
    margin-bottom: 22px;
  }
  .registration-description-desc {
    margin-bottom: 22px;
  }
  .registration-description-list {
    list-style-type: none;
  }
  .registration-description-list li {
    margin-bottom: 16px;
  }
  /* Регистрация */
  
  /* Корзина */
  .cart {}
  .cart-wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
  }
  .cart-products {}
  .cart-products-card {
    display: flex;
    height: 306px;
    width: 652px;
    box-shadow: 20px 15px 20px 4px rgba(33, 33, 33, 0.35);
    margin-bottom: 40px;
  }
  .cart-products-card-img {
    height: 306px;
    width: 262px;
  }
  .cart-products-card-description {
    width: 262px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.4px;
    color: #575757;
    text-align: left;
    margin-left: 31px;
  }
  .cart-products-card-description-heading {
    font-size: 24px;
    line-height: 28.8px;
    color: #222222;
    margin-bottom: 42px;
    margin-top: 22px;
    overflow: hidden;
    max-height: 58px;
  }
  .cart-products-card-description-pos {
    margin-bottom: 6px;
    display: inline-block;
    overflow: hidden;
    max-height: 26px;
    max-width: 70%;
  }
  .cart-products-card-description-price {
    color: #F16D7F;
  }
  .cart-products-card-description-quantity {
    display: flex;
    align-items: center;
  }
  .cart-products-card-description-quantity-number {
    height: 24.95px;
    width: 44px;
    margin-left: 24px;
    text-align: center;
  }
  .cart-products-card-description-cansel {
    border: none;
    background: none;
    height: 18px;
    width: 18px;
    margin-top: 27px;
    margin-left: 58px;
  }
  
  .cart-products-buttons-wrap {
    display: flex;
    justify-content: space-between;
  }
  .cart-products-button-style {
    padding: 16px 39px;
    border: 1px solid #A4A4A4;
    background-color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 16.8px;
    color: #000000;
  }
  
  .cart-description {
    width: 360px;
    height: 800px;
    margin-top: 15px;
  }
  .cart-description-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 57.5px;
  }
  .cart-description-form-heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19.2px;
    color: #222222;
    text-align: left;
    margin-bottom: 20px;
  }
  .cart-description-form-input {
    font-weight: 300;
    font-size: 13px;
    line-height: 15.6px;
    color: #222222;
    height: 45px;
    padding-left: 17px;
    margin-bottom: 20px;
    border: 1px solid #A4A4A4;
  }
  .cart-description-form-input-ph::placeholder {
    color: #222222;
  }
  .cart-description-form-button {
    color: #4A4A4A;
    padding: 11px 15px;
    width: 30%;
    font-weight: 300;
    font-size: 11px;
    line-height: 13.2px;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
  }
  
  .cart-description-price-wrap {
    background-color: #F5F3F3;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-description-price-cont {
    width: 360px;
  }
  .cart-description-price-sub {
    font-weight: 400;
    font-size: 11px;
    line-height: 13.2px;
    color: #4A4A4A;
    margin-top: 39px;
    display: inline-block;
    margin-right: 34px;
    margin-bottom: 12px;
  }
  .cart-description-price-tot {
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #222222;
    display: inline-block;
    margin-right: 37px;
  }
  .cart-description-price-button-border {
    width: 275px;
    height: 1px;
    background-color: #E5E5E5;
    margin-top: 21px;
    margin-bottom: 17px;
  }
  .cart-description-price-button {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 19.2px;
    background-color: #F16D7F;
    padding: 15px 35px;
    width: 275px;
    border: none;
    margin-bottom: 42px;
  }
  /* Корзина */
  