@import "_var.scss";
@import "_mixins.scss";
/* index index index index index index */
@import "blocks/main";

@import "blocks/_button.scss";
/* to test */
@import "blocks/totest";
/* to test */

/* Заплатка для чекбокса */
@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}
/* Заплатка для чекбокса */
 
/* header */
@import "blocks/header";
/* header */
  
/* promo */
@import "blocks/promo";
/* promo */

.main {
  flex-grow: 1;
}

/* categories */
@import "blocks/categories";
/* categories */
  
/* products */
@import "blocks/products";
/* products */
  
/* advantages */
@import "blocks/advantages";
/* advantages */
  
/* feedback */
@import "blocks/feedback";
/* feedback */
  
/* Футер */
@import "blocks/footer";
/* Футер */
  
/* index index index index index index */ 

/* catalog catalog catalog catalog catalog */
  @import "blocks/catalog-heading-nav"; 
  @import "blocks/catalog-filter";
/* catalog catalog catalog catalog catalog */
  
  
  /* Страница товара */
  /* Слайдер */
@import "blocks/_product-slider.scss";
  /* Слайдер */
  
  /* Описание товара */
  @import "blocks/_product-description.scss";
  /* Описание товара */
  
  /* Страница товара */
  
  /* Регистрация */
  .registration {
    margin-top: 31px;
    margin-bottom: 96px;
  }
  .registration-wrap {
    display: flex;
  }
  .registration-form {
    display: flex;
    flex-direction: column;
    max-width: 358.99px;
    text-align: left;
  }
  .registration-form-heading {
    font-weight: 300;
    font-size: 16px;
    line-height: 19.2px;
    margin-top: 33px;
  }
  .registration-form-input {
    padding-left: 17px;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .registration-radio {
    margin-top: 11px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13.2px;
    color: #000000;
  }
  .registration-radio-row {
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
  }
  .registration-radio-style {
    height: 17px;
    width: 17px;
    margin-right: 10px;
  }
  .registration-form-description {
    font-weight: 300;
    font-size: 13px;
    line-height: 15.6px;
    color: #B1B1B1;
    margin-top: -5px;
    margin-bottom: 39px;
  }
  .registration-form-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #FFFFFF;
    background-color: #F16D7F;
    height: 50px;
    width: 167px;
    border-style: none;
  }
  .registration-description {
    max-width: 652px;
    font-weight: 300;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
    margin-left: 128px;
  }
  .registration-description-heading {
    margin-top: 33px;
    margin-bottom: 22px;
  }
  .registration-description-desc {
    margin-bottom: 22px;
  }
  .registration-description-list {
    list-style-type: none;
  }
  .registration-description-list li {
    margin-bottom: 16px;
  }
  /* Регистрация */
  
  /* Корзина */
@import "blocks/cart";
  
  /* Корзина */
  

/* test */
.testwrap {
  height: 100px;
  width: 100px;
}
.test1 {
  height: 200px;
  width: 200px;
  background-color: red;
  margin-top: 200px;
  margin-bottom: 200px;
  display: inline-block;
}
#hello:checked ~ div {
  height: 100px;
  width: 100px;
}
#hello:checked ~ .test1 {
  height: 100px;
  width: 100px;
}

#hello:checked .test1 {
  height: 100px;
  width: 100px;
}

#hello:checked * div {
  height: 100px;
  width: 100px;
}
/* test */