@import "../var";
  /* Каталог */
  .catalog-headings-links{
    background-color: #F8F3F4;
  }
  .catalog-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
    background-color: #F8F3F4;
  }
  .catalog-heading{
    font-weight: 400;
    font-size: 24px;
    line-height: 28.8px;
    color: $main-color;
  }
  .catalog-links{
    list-style-type: none;
    font-weight: 300;
    line-height: 16.8px;
    display: flex;
  }
  .catalog-links-cont  {
      &:nth-child(-n+2)::after {
        content: "/";
        padding: 0 5px;
      }
      &:last-child {
        font-weight: 700;
        color: $main-color;
      }
      /* &:last-child::after {
          content: none;     
      } */
  }
  .catalog-links-style{
    text-decoration: none;
    color: #636363;
    &:hover {
      color: $main-color;
    }
  }

  /* Каталог */