@import "../var";
.footer {
    background-color: #222224;
    color: #FBFBFB;
    font-size: 16px;
    line-height: 19px;
  }
  .footer-wrap {
    display: flex;
    justify-content: space-between;
    min-height: 79px;
    align-items: center;
    background: #222224;
    padding: 21px 0;
  }
  .social-networks {
    display: flex;
    list-style-type: none;
    gap: 7px;
  }

  .social-link {
    display: flex;
    height: 32px;
    width: 32px;
    color:#000000 ;
    background-color: #FFFFFF;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition-property: background-color, color, transform;
    transition-duration: 0.4s, 0.4s;
    transition-delay: 0.2s, 0.2s;
    transition-timing-function: cubic-bezier(1, 0.02, 0.74, 0.4);
  }
  .social-link-li {

  }
  .social-link:hover {
      background-color: #F16D7F ;
      color: #FFFFFF;
      transform: scale(1.2 , 1.2);
  }
